<section class="section-3 pt-5">
  <div class="container pt-5">
    <h2 class="pb-5">Les derniers acticles du blog :</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolor fuga odit.</p>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-4 d-flex align-items-stretch">
          <div class="card">
            <img class="card-img-top" src="" alt="">
            <div class="card-body p-5">
              <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on
                  the card title and make up the bulk
                  of the card's content.
                </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4 d-flex align-items-stretch">
          <div class="card">
            <img class="card-img-top" src="" alt="">
            <div class="card-body p-5">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the
                card title and make up the bulk of the
                card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>