<div class="row">
<div class="col d-flex justify-content-center">
  <div class="card m-2" style="width: 300px;">
    <img class="card-img" src="https://www.peah.fr/wp-content/uploads/2016/06/nike_logo.jpg" alt="a snow-capped mountain range"/>
      <div class="card-img-overlay text-white">
      </div>
  </div>
</div>
<div class="col d-flex justify-content-center">
<div class="card m-2" style="width: 300px;">
  <img class="card-img" src="https://cdn.britannica.com/94/193794-050-0FB7060D/Adidas-logo.jpg" alt="a snow-capped mountain range"/>
    <div class="card-img-overlay text-white">
    </div>
  </div>
</div>
<div class="col d-flex justify-content-center">
<div class="card m-2" style="width: 300px;">
      <img class="card-img" style="max-width: 300px; max-height: 200px;" src="https://logos-world.net/wp-content/uploads/2022/01/Gymshark-Logo.png" alt="a snow-capped mountain range"/>
    <div class="card-img-overlay text-white">
    </div>
  </div>
</div>
</div>