<section id="section-2">
  <div class="container py-5">
    <h2 class="fw-light pb-5">Concept :</h2>
    <div class="row">
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card">
          <div class="card-body p-5">
            <h5 class="card-title">Notre système de notation</h5><br>
            <p class="card-text">
            Nous nous basons sur 5 facteurs afin d’établir le score des marques référencées sur notre plateforme.
            Les 5 critères sont basés sur le rapport qualité/ et prix, la main d’œuvre au moment de la production, la présence de matière animale dans les tissus et matériaux et l’impact environnemental des marques.
            </p><br>
          </div>
        </div>
      </div>
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card">
          <div class="card-body p-5">
            <h5 class="card-title">Nos engagements</h5><br>
            <p class="card-text">
            Cette plateforme a pour but de renseigner en toute transparence un maximum de marques de sport.
            Nous ne sommes sponsorisés par aucune marque pour la mettre en avant ni pour améliorer son scoring.
            Notre business modèle fonctionne sur la base de don via Stripe sur notre plateforme.
            </p><br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card">
          <div class="card-body p-5">
            <h5 class="card-title">L’équipe derrière le projet</h5><br>
            <p class="card-text">
            Nous sommes un groupe de 5 développeurs et développeuses passionnés par le sport et souscieuse de l'environnement. Rencontrés lors d'un bootcamp en web développement, ils ont souhaité mettre en application leurs compétences en développement information dans la construction de ce site !
            </p><br>
          </div>
        </div>
      </div>
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card">
          <div class="card-body p-5">
            <h5 class="card-title">Nos valeurs</h5><br>
            <p class="card-text">
            Les problèmes environnementaux qui nous touchent, doivent devenir une priorité pour notre génération et les suivantes.
            Nous devons également prendre conscience de nos modes de consommations et de production.
            Nous faisons notre possible pour sensibiliser les consommateurs à privilégier les marques de sport éco-responsables.
            </p><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
