<div class="px-4 py-5 text-center"style="background-image:linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)),url('https://images.unsplash.com/photo-1547483238-f400e65ccd56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');height: 90vh; background-position: center; background-repeat: no-repeat; background-size: cover ">
  <div class="row h-60">
    <div class ="row align-items-center">
      <div class="container pb-3 mb-5">
        <img class="d-block mx-auto mb-4" src="https://img.icons8.com/fluency/344/forest.png" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-white pb-2">FAIR ATHLETE</h1>
        <div class="col-lg-6 mx-auto">
        <h2 class="fw-light display-6 text-white">Votre marque de sport préférée est-elle éthique et éco-responsable ?</h2>
        <h4 class="fw-light display-8 text-white">Retrouvez des centaines de marques de sport et comparez-les ! 📈</h4>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <div class="container d-flex justify-content-center">
            <div class="input-group input-group-lg">
              <div class="container">
              <br>
                <div class="row g-3">
                  <%= form_tag brands_path, class: "d-flex input-group-lg", method: :get do %>
                    <%= text_field_tag :query,
                    params[:query],
                    placeholder: "Rechercher une marque", class: "px-2 me-3 form-control"  %>
                    <%= submit_tag "C'est parti ! ", class: "btn btn-primary form-control", :style => "width:170px;" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
