<div class="px-4 py-8 text-center d-flex align-items-top pt-5 "style="background-image:linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)),url('<% image_tag'runner_bg.avif' %>);height: 90vh; background-position: center; background-repeat: no-repeat; background-size: cover ">
  <div class ="col align-items-top pt-5">
    <div class="container">
      <img class="d-block mx-auto mb-4" src="https://img.icons8.com/fluency/344/forest.png" alt="" width="72" height="57">
      <h1 class="display-5 fw-bold text-white pb-2">FAIR ATHLETE</h1>
      <div class="col-lg-10 mx-auto">
        <h2 class="display-6 text-white">Votre marque de sport préférée est-elle éthique et éco-responsable ?</h2>
        <h4 class="display-8 text-white">Retrouvez des centaines de marques de sport et comparez-les ! 📈</h4>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <div class="container d-flex justify-content-center">
            <div class="input-group input-group-lg">
              <div class="container">
              <br>
                <div class="row g-3">
                  <%= form_tag brands_path, class: "d-flex input-group-lg", method: :get do %>
                    <%= text_field_tag :query,
                    params[:query],
                    placeholder: "Rechercher une marque", class: "px-2 me-3 form-control"  %>
                    <%= submit_tag "C'est parti ! ", class: "btn btn-primary form-control", :style => "width:170px;" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
