<link rel="stylesheet" href="application.css">
 
 <section class="about" id="about">

      <div class="container text-center">
        <h2>
          A propos de La Sapp' qui dit oui 
        </h2>

        <p>
          Soucieux de l'environnement, nous souhaitons que les consommateurs de marques de sports puissent vérifier si leurs marques préférés respectent certains critères éco-responsable.
          <br> En quelques mots : 
        </p>

        <div class="row stats-row">
          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="+99" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Marques référencés
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="20 000" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Visiteurs par mois
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Hours Of Support
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Hours Of Support
            </div>
          </div>
        </div>
      </div>