<link rel="stylesheet" href="application.css">
 
<section class="about" id="about">
  <div class="container text-center">
    <div class="row mt-5">
      <h2>
        A propos de la FAIR ATHLETE Team
      </h2>
      <div class="py-5 team4">
        <div class="container">
          <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
              <h3 class="mb-3">Experienced & Professional Team</h3>
              <h6 class="subtitle">Jeune équipe, soudée et débrouillarde, essayant toujours de faire au mieux. </h6>
            </div>
          </div>
        <div class="row">
          <div class="col-lg-3 mb-4">
            <div class="row">
              <div class="col-md-12">
                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Niall BURDON</h5>
                  <h6 class="subtitle mb-3">maitre Yoda</h6>
                  <p>Capable de coder la Force avec un oeil fermé et une main dans le dos.</p>
                  <ul class="list-inline">
                  </ul>
                </div>
              </div>
            </div>
          </div>
      <div class="col-lg-3 mb-4">
        <div class="row">
          <div class="col-md-12">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Alex BEAUMIER</h5>
              <h6 class="subtitle mb-3">le médecin 2.0</h6>
              <p>Capable de nous injecter des kits de soins pour nous redonner des life-points quand on se fait attaquer par un cheval de Troie</p>
              <ul class="list-inline">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="row">
          <div class="col-md-12">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Aurélien INGWEN</h5>
              <h6 class="subtitle mb-3">un vrai X-Men</h6>
              <p>Capable de lire dans les pensées du code pour en comprendre toute sa complexité.</p>
              <ul class="list-inline">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="row">
          <div class="col-md-12">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Pierre LEGOUX</h5>
              <h6 class="subtitle mb-3">le Sud-Ouestien</h6>
              <p>Capable de prononcer le mot interdit chocolati.... suivi de "putiiin con"</p>
              <ul class="list-inline">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
  </div>
  <div class="col-md-12 text-center">
    <div class="pt-2">
      <h5 class="mt-4 font-weight-medium mb-0">Bénédicte COULON</h5>
      <h6 class="subtitle mb-3">mrs Robot</h6>
      <p>Capable de développer une IA pouvant controler le monde tout en écoutant de l'opéra.</p>
      <ul class="list-inline">
      </ul>
    </div>
  </div>
</div>

<section class="section-3 pt-5">
<div class="container px-5 py-3">
  <%= render "static_pages/concept" %>
</div>
</section>