<h3 class="fw-light">Commentaires :</h3>
<% @post.comments.each do |comment| %>

<div class="well">
  <ul class="list-group">
    <li class="list-group-item"><%= comment.content %>
      <% if user_signed_in? %>
        <%= link_to '[Supprimer]', [comment.post, comment],
        method: :delete,
        data: { confirm: 'Êtes-vous sûr ?' } %>
      <% end %>
    </li>
  </ul>
</div>
<% end %>
