<h3 class="fw-light">Ajouter un commentaire : </h3>
<br>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.text_area(:content, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit(:Ajouter, {:class => 'btn btn-primary'}) %>
  </p>
<% end %>
