/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #navbarSupportedContent1 ul{
    margin: 0;
  }
 #signup {
     width: 117.23px;
 }
 #showcase{
    background-image:url('hero.jpg');
    background-size:cover;
    background-position:center;
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  }
  .card-img-top {
    height:200px;
    width:100%;
  }

  #devise {
    height: 80vh;
  }

  .btn-go {
      border-top-right-radius: 32px !important;
      border-bottom-right-radius: 32px !important;
      height: 62px;
  }

  .glass {
      border-top-left-radius: 32px !important;
      border-bottom-left-radius: 32px !important;
  }

  .input-group-prepend {
      margin-right: -2px !important;
  }

  .input-group-append {
      margin-left: -2px !important
      
  }

  .form-control:focus {
      color: #495057;
      background-color: #fff;
      border-color: #ced4da;
      outline: 0;
      box-shadow: 0 0 0 0 !important
  }

  .form-control {
      border-right: 0 !important;
      border-left: 0 !important
  }