/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #signup {
     width: 117.23px;
 }
 #showcase{
    background-image:url('hero.jpg');
    background-size:cover;
    background-position:center;
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  }
  .card-img-top {
    height:200px;
    width:100%;
  }


  .stats-row {
    margin-top: 65px;
  }
  
  .stats-col .circle {
    display: inline-block;
    width: 160px;
    height: 160px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #000000;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 55px 25px 0 25px;
    position: relative;
  }
  .stats-col .circle .stats-no {
    color: #FFF;
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: -25px;
    right: -15px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #E04F00;
    position: absolute;
    border-radius: 50%;
    font-weight: 700;
  }
  
  .skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #556270;
  }
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  .skills .progress-bar-wrap {
    background: #edeff1;
  }
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #6b7b8d;
  }