<div class="container section-3 pt-5">
  <%= render 'submitbrands.html.erb'%>
</div>
<div class="container section-3 pt-5">
  <%= render 'brandsearch'%>
</div>
<div class="container">
  <%= render 'brand_list'%>
</div>
