    <footer class="pt-5 my-5 text-muted border-top">
        <div class="container">
              <p> <a href="<%= static_pages_a_propos_path %>">En savoir plus sur Fair Athlete</p></a>
              <p> <a href="<%= static_pages_contact_path %>">Nous contacter</p></a>

            </div>
            <div class="footer-copyright text-center py-3">
              <p>© 2022, Made with love, THP</p>
              <p>Niall, Pierre, Aurélien, Alex & Bénédicte</p>
            </div>
          </div>
        </div>
      </footer>