    <footer class="pt-5 my-5 border-top">
        <div class="container">
          <div class="row">
            <div class="col">
              <p> <a href="<%= static_pages_a_propos_path %>">En savoir plus sur Fair Athlete</p></a>
              <p> <a href="<%= static_pages_contact_path %>">Nous contacter</p></a>
              <p> <a href="<%= admin_user_session_path %>">Page Admin (réservée aux admins)</p></a>
            </div>
            <div class="col text-center">
              <p>© 2022, Made with love, THP</p>
              <p>Niall, Pierre, Aurélien, Alex & Bénédicte</p>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </footer>
